---
apiVersion: v1
kind: Secret
metadata:
  name: external-dns-secrets
  namespace: external-dns
type: Opaque
stringData:
  values.yml: |
    cloudflare:
      apiToken: ${CLOUDFLARE_API_TOKEN}
    domainFilters:
      - ${CNAME_HOST}
