---
apiVersion: v1
kind: Secret
metadata:
  name: grocy-values
  namespace: grocy
type: Opaque
stringData:
  values: |
    ingress:
      hosts:
        - ${GROCY_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${GROCY_HOST}
          secretName: grocy-tls
