---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-secrets
  namespace: monitoring
type: Opaque
stringData:
  values.yml: |
    prometheus:
      ingress:
        hosts:
          - ${PROMETHEUS_HOST}
        tls:
          - hosts:
              - ${PROMETHEUS_HOST}
            secretName: prometheus-tls
    grafana:
      ingress:
        hosts:
          - ${GRAFANA_HOST}
        annotations:
          external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
        tls:
          - hosts:
              - ${GRAFANA_HOST}
            secretName: grafana-tls
        adminPassword: ${GRAFANA_PASSWORD}
        grafana.ini:
          server:
            root_url: https://${GRFANA_HOST}
